.background{
    height: 100vh;
    width: 100%;   
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('https://assets.nflxext.com/ffe/siteui/vlv3/71cfa010-f8dd-4298-a94d-1ae5034a857c/5f9ac3ff-b5c5-49ae-bd22-bc3349bb6b80/IN-en-20210425-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    position: relative;
    text-align: center;
  
}
.title{
    position: absolute;
    color: white;
    top:30vh;
    left: 25%;
    font-weight: 700;
    font-size: 30px;
}
.input{
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding-left:10px;
    font-size: 20px;
}
.btn{
    height: 51px;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    background-color: rgb(240, 12, 23);
    color: white;
    
    
    
}